@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600&display=swap');

* {
    border: 0;
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Source Sans 3', sans-serif;
}

.freddo_contact_form {

    display: flex;
    flex-direction: column;
    gap: .75rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .25);
    width: 100%;
    max-width: 550px;
    padding: 2rem 1rem;
    border-radius: 1rem .15rem;
    background-color: #fff;
}

.freddo_contact_form label {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    font-size: .75rem;
    font-weight: 600;
    text-transform: uppercase;
}

.freddo_contact_form label input,
.freddo_contact_form textarea {
    font-size: 1rem;
    border: solid 1px #ccc;
    padding: 8px;
    border-radius: 8px;
}

.freddo_contact_form input:focus,
.freddo_contact_form textarea:focus {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
}

.freddo_contact_form .form__body {
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.freddo_contact_form .form__body .name__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.freddo_contact_form .form__footer {
    display: flex;
    justify-content: center;
    margin: 1rem auto;
}

.freddo_contact_form .form__footer input {
    background: #B19A5F;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    padding: 1rem 100%;
    border-radius: .5rem;
    transition: all ease 300ms;
}

.freddo_contact_form .form__footer input:hover {
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, .6));
}

/* Solicitud Enviada */

.entry__submitted,
.loading__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 550px;
    border-radius: 1rem .15rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .25);
    min-height: 600px;
    text-align: center;
}

.entry__submitted * {
    width: 500px;
}

.entry__submitted i {
    background: #B19A5F;
    color: #fff;
    padding: 1rem;
    border-radius: 100%;
    font-size: 2rem;
    width: 35px;
}

.entry__submitted h3 {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: capitalize;
}

/* Lazy Loader */